h1 HI WORLD
  div(ng-controller='controller')
      label.lead(for='input') Please Enter Your Name:
      br
      label.lead(for='input')  Hello {{hello}}
        input#input.form-control(type='text', ng-model='hello')
