div(ng-controller="LogoutController" calss="LogouteClass")
  div(class='row Panelmargin')
    div(class='row paddingRightDiv borderdashedDetail paddingLeftDiv') 
      div(class='col-md-12 rowHeight')
        div Good bye frnd ;)
        button(class='btn regbtn' ng-click='Logout()') Logout 
